

body {
	font-family: 'Source Sans Pro', sans-serif !important;
}

.btn-square {
	border-radius: 0;
}

.ticked-list {
	padding-left: 0;
}
.ticked-list li {
	font-size: 17px;
	margin-left: 0px;
	padding-left: 24px;
	line-height: 28px;
	list-style: none;
	background-image: url(../tick.png);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	background-size: 16px 13px;
	margin-top: 1em;
}

.intro {
	background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .4)),
		url("https://images.unsplash.com/photo-1474440692490-2e83ae13ba29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
	color: whitesmoke;
	display: flex;
}

.become-a-supplier .container-fluid {
	margin-bottom: 50px;
}

.become-a-supplier .container-fluid .left-col {
	background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .3)),
		url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80)
			no-repeat 0;
	height: 80vh;
	min-height: 570px;
	background-size: cover;
	overflow: hidden;
}

.get-started h1,
.become-a-supplier h1 {
	margin-bottom: 1em;
	font-weight: 700;
}

.get-started .container-fluid .left-col-start {
	background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .3)),
url(https://images.unsplash.com/photo-1500565534308-0db60f7116f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) no-repeat 0;
	height: 85vh;
	min-height: 570px;
	background-size: cover;
	overflow: hidden;
}

.get-started .container-fluid .btm-right-col-start {
	background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .3)),
		url(../Assets/image-shop.jpg)
			no-repeat 0;
	height: 100vh;
	min-height: 570px;
	background-size: cover;
	overflow: hidden;
}


@media screen and (min-width: 768px) {
	.get-started .get-started-text,
	.become-a-supplier .supplier-text {
		padding-left: 40px;
	}

	.get-started .btm-left-col-start {
		padding: 5em;
	}
	
}
@media (max-width: 767.98px) { 
	.supplier-text {
		margin-top: 1em;
	}

	.get-started .btm-left-col-start {
		padding: 1em;
	}

	.get-started .button  {
		text-align: center;
	}

 }
